RewriteEngine on
RewriteCond %{HTTP_HOST} ^stablemoneysystem\.com$ [NC]
RewriteRule ^(.*)$ http://www.stablemoneysystem.com/$1 [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [S=84]
RewriteRule ^(berita|download|foto|kalender|kontak|links|statistik|pendidikan|kuliner|404).html$ ./index.php?opsi=$1&modul=yes [QSA,L]
RewriteRule ^halaman-([0-9]{1,})-(.*).html$ ./index.php?opsi=hal&id=$1&judul=$2 [QSA,L]

RewriteRule ^daftar.html$ ./index.php?opsi=user&aksi=daftar [QSA,L]
RewriteRule ^lupa-password.html$ ./index.php?opsi=user&aksi=lupa_password [QSA,L]

RewriteRule ^poling-result.html$ ./index.php?opsi=polling&modul=yes&act=polling_result [QSA,L]
RewriteRule ^sitemap.html$ ./sitemap.php [QSA,L]

RewriteRule ^links/([0-9]{1,})/(.*).html$ ./links_jump.php?id=$1&judul=$2 [QSA,L]

RewriteRule ^download/([0-9]{1,})/(.*).html$ ./dl_jump.php?id=$1&judul=$2 [QSA,L]

RewriteRule ^kategori/([0-9]{1,})/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=kategori&kid=$1&judul=$2 [QSA,L]
RewriteRule ^kategori-hal-([0-9]{1,})-(.*)-([0-9]{1,})-([0-9]{1,})-([0-9]{1,}).html$ ./index.php?opsi=berita&modul=yes&aksi=kategori&kid=$1&judul=$2&pg=$3&stg=$4&offset=$5 [QSA,L]
RewriteRule ^lihat/([0-9]{1,})/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=lihat&id=$1&judul=$2 [QSA,L]
RewriteRule ^berita-hal-([0-9]{1,})-([0-9]{1,})-([0-9]{1,}).html$ ./index.php?opsi=berita&modul=yes&pg=$1&stg=$2&offset=$3 [QSA,L]
RewriteRule ^tags/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=tags&tag=$1 [QSA,L]
RewriteRule ^arsip/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=arsip&date=$1 [QSA,L]
RewriteRule ^arsip-hal/(.*)-([0-9]{1,})-([0-9]{1,})-([0-9]{1,}).html$ ./index.php?opsi=berita&modul=yes&aksi=arsip&date=$1&pg=$2&stg=$3&offset=$4 [QSA,L]
RewriteRule ^pesan/([0-9]{1,})/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=pesan&UserId=$1 [QSA,L]
RewriteRule ^rekomendasi/([0-9]{1,})/(.*).html$ ./index.php?opsi=berita&modul=yes&aksi=recommend&id=$1&judul=$2 [QSA,L]
RewriteRule ^cetak/([0-9]{1,})/(.*).html$ ./cetak.php?id=$1&judul=$2 [QSA,L]

RewriteRule ^album/([0-9]{1,})/(.*).html$ ./index.php?opsi=foto&modul=yes&aksi=photo&kid=$1 [QSA,L]
RewriteRule ^foto/([0-9]{1,})/(.*).html$ ./index.php?opsi=foto&modul=yes&aksi=detail&id=$1&judul=$2 [QSA,L]

RewriteRule ^profile/([0-9]{1,})/(.*).html$ ./index.php?opsi=profile&modul=yes&aksi=detail&UserId=$1&nama=$2 [QSA,L]

ErrorDocument 404 /404.html